// Get my favourite font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

// Settings for our static-sidebar-scrollable-main style layout
* {
  // Prevent browsers from adding padding, borders, etc to the size calculations of our elements
  box-sizing: border-box;
}

svg {
  // Give SVGs space to breathe
  box-sizing: content-box;
}

html {
  // Remove browser-default padding and margins
  margin: 0;
  padding: 0;
}

body {
  // Basic sizing
  height: 100vh;
  // This was causing extra scrollbars to show up. We can trust the browser to set width for us
  // width: 100vw;
  // Remove browser-default padding and margins
  margin: 0;
  padding: 0;

  // Grid settings!
  display: grid;
  //                  | -> . (padding)
  //                  |   | -> info
  //                  |   |   | -> nav
  //                  |   |   |   | -> . (padding)
  //                  v   v   v   v   v -> footer
  grid-template-rows: 1fr 4fr 2fr 5fr 1fr;
  //                     | -> puts padding on the left
  //                     |   | -> entire sidebar
  //                     v   v -> main
  grid-template-columns: 0fr 1fr 5fr;
  gap: 1rem;

  grid-template-areas:
    ". .       main"
    ". info    main"
    ". nav     main"
    ". .       main"
    ". footer  main";

  font-family: Roboto, sans-serif;

}

// Basic text styling
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: x-large;
}

a {
  text-decoration: none;
}

li {
  font-weight: lighter;
}

// Sidebar text styling
.sidebar ul {
  list-style-type: none;
  line-height: 1.5;
}

header a .username {
  visibility: hidden;
}

.grid-cell {
  // padding: 1rem;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #828282;
  padding-right: 5px;
  vertical-align: text-top;
}

.sidebar ul {
  padding-left: 0;
}

// Displays the about me info
header {
  grid-area: info;
  align-self: center;
  min-height: min-content;
  max-height: 100%;
  min-width: min-content;

  ul {
    white-space: nowrap;
    display: flex;
    a li {
      width: 25px;
    }
  }

  a:hover .svg-icon {
   fill: black;
  }
}

nav {
  grid-area: nav;
  align-self: center;
  min-width: min-content;
  min-height: min-content;
  max-height: 100%;
}

// Main body styling

// This turns the main element into our scrollable content area
main {
  grid-area: main;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
}

footer {
  grid-area: footer;
}

//// Resume-specific styling
.skill-category {
  white-space: nowrap;
}

.skills > ul {
  margin-left: 0;
  padding-left: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  justify-content: space-evenly;
}

.skills > ul > li {
  list-style-type: none;
}

.skill-list {
  padding-left: 15px;
  list-style-type: circle;
}

section ul {
  padding-left: 10px;
}

//// Blog-specific styling
figure {
  overflow-x: scroll;
}
